.button {
  all: unset;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 10px;

  padding: 6px 28px;
  border-radius: 4px;
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
  transition: background-color 0.3s;

  &:focus-visible {
    outline: 2px solid var(--color-info-700);
  }

  &:disabled {
    cursor: inherit;
    color: var(--color-light-900);
  }
}

.primary {
  background-color: var(--color-accent-500);
  box-shadow: 0px 4px 18px 0px rgba(140, 97, 255, 0.35);

  &:hover {
    background-color: var(--color-accent-300);
  }

  &:active {
    background-color: var(--color-accent-700);
  }

  &:disabled {
    background-color: var(--color-accent-900);
  }
}

.secondary {
  background-color: var(--color-dark-300);
  box-shadow: 0 4px 4px 0 rgba(77, 86, 96, 0.13);

  &:hover {
    background-color: var(--color-dark-100);
  }

  &:active {
    background-color: var(--color-dark-500);
  }

  &:disabled {
    background-color: var(--color-dark-300);
  }
}

.onIcon {
  transition: fill 0.3s;
}

.tertiary {
  background-color: transparent;
  border: 1px solid var(--color-accent-500);
  color: var(--color-accent-500);

  &:hover {
    background-color: var(--color-dark-500);
    border: 1px solid var(--color-accent-700);

    & svg {
      fill: greenyellow;
    }
  }

  &:active {
    background-color: var(--color-accent-900);
    border: 1px solid var(--color-accent-700);
    color: var(--color-accent-500);
  }

  &:disabled {
    border: 1px solid var(--color-accent-900);
    color: var(--color-accent-900);
  }
}

.link {
  background-color: yellow;
  color: red;
}

.fullWidth {
  width: 100%;
}

.myFirst {
  margin: 10px;
}
